/TrabalhoPOO2-Projeto-AssistenciaTecnica/nbproject/private/
/TrabalhoPOO2-Projeto-AssistenciaTecnica/dist/
/TrabalhoPOO2-Projeto-AssistenciaTecnica/build/
/TrabalhoPOO2-ServidorSockets/nbproject/private/
/TrabalhoPOO2-ServidorSockets/build/
/TrabalhoPOO2-ServidorSockets/dist/