/TrabalhoPOO2-Projeto-AssistenciaTecnica/nbproject/private/
/TrabalhoPOO2-Projeto-AssistenciaTecnica/dist/
/TrabalhoPOO2-Projeto-AssistenciaTecnica/build/
/TrabalhoPOO2-ServidorSockets/nbproject/private/
/TrabalhoPOO2-ServidorSockets/build/
/TrabalhoPOO2-ServidorSockets/dist/
/Trabalho-Version-WebService/TrabalhoPOO2AssistenciaCliente/target/
/Trabalho-Version-WebService/AssistenciaCliente/target/
/Trabalho-Version-WebService/AssistenciaWebService/target/
/Trabalho-Version-WebService/mavenproject1/target/
/Trabalho-Version-WebService/ProjetoTeste/target/
/Trabalho-Version-WebService/ProjetoTeste2/target/